Source: bb-alts
Section: misc
Priority: optional
Maintainer: Jordi Pujol Palomer <jordipujolp@gmail.com>
Build-Depends: debhelper (>= 9),
Standards-Version: 3.8.0
Homepage: http://livenet.selfip.com

Package: bb-alts
Architecture: all
Depends: ${misc:Depends}, busybox,
Provides: awk, mt, telnet-client,
 traceroute, traceroute6, editor, vi, lzma,
Description: Installs Debian alternatives for busybox internal applets,
 allowing easy use of busybox commands in the system. The recommended 
 configuration installs only alternatives that are already well 
 established Debian alternatives. However, the superuser can configure 
 *bb-alts* to install alternatives for any busybox applet; please read 
 the documentation.
